html,body{
    background:linear-gradient(to bottom, rgba(189, 185, 185, 0.2), rgba(48, 48, 47, 0.4));
    display:flex;
    height:100%;
    width:100%;
    margin:0;
}
.glass{
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    border-radius: 25px;  
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow:
        inset 2px 2px 6px rgba(255, 255, 255, 0.6), 
        inset -2px -2px 6px rgba(0, 0, 0, 0.2),     
        4px 4px 20px rgba(0, 0, 0, 0.15);  
}
.glass::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(
        145deg,
        rgba(255,255,255,0.3) 0%,
        rgba(255,255,255,0) 60%
    );
    pointer-events: none;
}
#left-container{
    display:flex;
    flex-direction:column;
    flex:2;
    overflow-y: auto;
}
#right-container{
    display:flex;
    flex-direction:column;
    flex:0.5;
    align-items:center;
    background:transparent;
}
#filter-bar{
    height:10vh;
    min-height:10vh;
    display:flex;
    align-items:center;
    overflow-x: auto;
    margin-left:25px;
    margin-right:25px;
    margin-top:1em;
}
#filter-bar::-webkit-scrollbar {
    display: none;
}
#filter-btn-container{
    display:flex;
    justify-content: flex-end;
}
#outfits-container{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:3rem;
    margin-top:40px;
    margin-bottom:20px;
    height:100%;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    justify-content:center;
    overflow-y:auto;
    padding-top:50px; 
    padding-bottom:50px;
}
#outfits-container::-webkit-scrollbar {
    display: none; 
}
#outfits-container.deleteMode{
    background: rgba(255, 99, 99, 0.2); 
    backdrop-filter: blur(8px); 
    border: 2px solid rgba(222, 110, 110, 0.4); 
    transition: background 1s ease;
}
.outfitHolder{
    position:relative;
    border:1px solid black;
    text-align:center;
    height:300px;
    width:250px;
    transition: transform 0.7s ease;
}
.outfitHolder:hover {
  transform: scale(1.05); 
  cursor: pointer; 
}
.outfitHolder.deleteOutfit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 99, 99, 0.25); 
    pointer-events: none;
    z-index:1000;
    border-radius: 20px;
}
.outfitImage{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
}
#logo-container{
    height:30vh;
    width:17vw;
    text-align:center;
    margin-top:1.5em;
    margin-bottom:5em;
}
#logo{
    width:100%;
    height:100%;
    object-fit: cover;
}
#add-outfit-btn,#delete-outfit-btn{
    height: 5vh;
    width: 10vw;
    margin-bottom: 3em;
}
#add-filter-btn{
    margin-right:40px;
    height: 3vh;
    width: 7vw;
    margin-top:15px;
    margin-left:10px;
}
#remove-filter-btn{
    height: 3vh;
    width: 7vw;
    margin-top:15px;
    margin-left:10px;
}
#cancel-filter-form,#add-type-btn,#submit-outfit-btn,#cancel-outfit-form,#add-outfit-btn,#delete-outfit-btn,#add-filter-btn,#remove-filter-btn{
    color: #4A2E1E;
    background: rgba(255, 255, 255, 0.525);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    box-shadow:
        inset 2px 2px 4px rgba(255, 255, 255, 0.5),
        inset -2px -2px 6px rgba(0, 0, 0, 0.2),
        0 8px 10px rgba(31, 38, 135, 0.37);

    font-weight: bold;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}
#cancel-filter-form:active,#add-type-btn:active,#submit-outfit-btn:active,#cancel-outfit-form:active,#add-outfit-btn:active, #delete-outfit-btn:active,#add-filter-btn:active, #remove-filter-btn:active{
    transform: scale(0.93); 
    box-shadow:
        inset 4px 4px 8px rgba(0, 0, 0, 0.25),
        inset -4px -4px 8px rgba(255, 255, 255, 0.4);
}
.hidden{
    display:none;
}
#modal-backdrop{
    top:0;
    left:0;
    position:fixed;
    height:100%;
    width:100%;
    background:rgb(0,0,0,0.5);
    z-index:1000;
}
#add-filter-form-container{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
}
.modal-active{
    display:flex;
    justify-content:center;
    align-items:center;
}
#add-filter-form{
    color:rgb(227, 221, 221);
    background: rgba(255, 255, 255, 0.382); 
    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    width: 30em;
    height: 35em;
    border-radius: 1.5em; 
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 1.5em;
    box-shadow:
        0 1em 3em rgba(0, 0, 0, 0.3),
        inset 0 0 1.5em rgba(255, 255, 255, 0.15);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none; 
}
#filter-form-heading-container{
    text-align:center;
}
#type-name-container{
    margin-top:3em;
    margin-bottom:2em;
}
#type-color-container{
    margin-bottom:8em;
}
#filter-form-buttons{
    text-align: center;
}
#example{
    font-style: italic;
    color:grey;
}
#type-color{
    width:15%;
    height:3em;
    margin:0.5em;
}
#type-name{
    width:50%;
    height:3em;
    margin:0.5em;
    font-size:0.8em; 
    text-align: center;
    font-size:15px;
}
#type-name-label,#type-color-label{
    font-size:1.2em;
}
.outfit-type{
    height:2em;
    width:10em;
    min-width:10em;
    margin:1em;
    text-align: center;
    line-height: 2em;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.outfit-type.selected{
    transform: scale(0.93); 
    box-shadow:
        inset 4px 4px 8px rgba(0, 0, 0, 0.25),
        inset -4px -4px 8px rgba(255, 255, 255, 0.4);
    background-color: rgba(61, 95, 188, 0.1);
    animation: glow 2.5s ease-in-out infinite alternate;
}
@keyframes glow {
  0%, 100% {
    box-shadow:
      inset 4px 4px 8px rgba(0, 0, 0, 0.25),
      inset -4px -4px 8px rgba(255, 255, 255, 0.4),
      0 0 8px 3px rgba(178, 181, 239, 0.5);
  }
  50% {
    box-shadow:
      inset 4px 4px 8px rgba(0, 0, 0, 0.25),
      inset -4px -4px 8px rgba(255, 255, 255, 0.4),
      0 0 16px 6px rgba(173, 173, 240, 0.8);
  }
}
.outfit-type.delete {
  transform: scale(0.93);
  background-color: rgba(255, 100, 120, 0.1);
  animation: glow-red 2.5s ease-in-out infinite alternate;
}
@keyframes glow-red {
  0%, 100% {
    box-shadow:
      inset 4px 4px 8px rgba(0, 0, 0, 0.25),
      inset -4px -4px 8px rgba(255, 255, 255, 0.4),
      0 0 8px 3px rgba(227, 140, 151, 0.5);
  }
  50% {
    box-shadow:
      inset 4px 4px 8px rgba(0, 0, 0, 0.25),
      inset -4px -4px 8px rgba(255, 255, 255, 0.4),
      0 0 16px 6px rgba(236, 147, 159, 0.8);
  }
}
#add-outfit-form-container{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
}
#add-outfit-form {
    color:rgb(227, 221, 221);
    background: rgba(255, 255, 255, 0.382); 
    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    width: 40em;
    height: 45em;
    border-radius: 1.5em; 
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 1.5em;
    box-shadow:
        0 1em 3em rgba(0, 0, 0, 0.3),
        inset 0 0 1.5em rgba(255, 255, 255, 0.15);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none; 
}
#add-outfit-form::-webkit-scrollbar {
    display: none; 
}
#outfit-preview-container{
    display:flex;
    justify-content: center;
    padding:2em;
}
#outfit-preview-holder{
    background:silver;
    width:300px;
    height:400px;
    overflow:hidden;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#outfit-preview{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
}
#outfit-form-heading-container{
    text-align:center;
    margin-bottom:2em;
}
#outfit-photo-label{
    font-size:24px;
}
#outfit-photo{
    font-size:19px;
    margin-left:10px;
}
#select-tags-header{
    display:flex;
    gap:10px;
}
#select-tags-header p{
    color:gray;
    line-height: 1.5;
    font-size: 20px;
}
#select-tags-container{
    background:grey;
    width:600px;
    min-height:200px;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    column-gap:50px;
    row-gap:40px;
    padding:20px;
    overflow:auto;
}
.outfitType{
    width:150px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.outfitType.selected{
    border: 2px solid rgba(156, 243, 243, 0.77);
}
#outfit-name-container{
    margin-bottom:20px;
    text-align: center;
}
#outfit-name-label{
    font-size:24px;
}
#outfit-name{
    font-size:19px;
    width:350px;
    margin-left:10px;
    color:rgb(48, 45, 45);
    text-align: center;
}
#outfit-form-buttons{
    text-align:center;
    margin:2em;
}
#cancel-outfit-form,#cancel-filter-form{
    background:rgba(214, 76, 76, 0.725);
    width:8em;
    height:3em;
    margin-right:10px;
}
#submit-outfit-btn,#add-type-btn{
    background:rgba(85, 233, 85, 0.657);
    width:8em;
    height:3em;
}
#filter-bar.deleteSelection{
    background: rgba(255, 99, 99, 0.2); 
    backdrop-filter: blur(8px); 
    border: 2px solid rgba(222, 110, 110, 0.4);
    transition: background 1s ease;
}
