html,body{
    display:flex;
    height:100%;
    width:100%;
    margin:0;
}
#left-container{
    display:flex;
    flex-direction:column;
    flex:2;
    overflow-y: auto;

}
#right-container{
    background:maroon;
    display:flex;
    flex-direction:column;
    flex:0.6;
    align-items:center;
}
#filter-bar{
    background:grey;
    height:10vh;
    min-height:10vh;
    display:flex;
    align-items:center;
    overflow-x: auto;
}
#filter-btn-container{
    display:flex;
    margin-right:0.5em;
}
#add-filter-btn{
    background:silver;
    margin-left:auto;
    height:3vh; 
    width:7vw;
    text-align:center;
}
#outfits-container{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:3rem;
    padding:3rem;
    justify-content:center;
}
.outfitHolder{
    border:1px solid black;
    text-align:center;
    height:350px;
    width:300px;
}
.outfitImage{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
}
#logo{
    border:1px solid black;
    height:30vh;
    width:17vw;
    text-align:center;
    margin-top:2em;
    margin-bottom:5em;
}
#add-outfit-btn{
    height:5vh;
    width:10vw;
    margin-bottom:3em;
}
#add-clothing-btn{
    height:5vh;
    width:10vw;
}
.hidden{
    display:none;
}
#modal-backdrop{
    top:0;
    left:0;
    position:fixed;
    height:100%;
    width:100%;
    background:rgb(0,0,0,0.5);
    z-index:1000;
}
#add-filter-form-container{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
}
.modal-active{
    display:flex;
    justify-content:center;
    align-items:center;
}
#add-filter-form{
    background:rgb(255, 251, 251);
    width:30em;
    height:30em;
    border:0.5em solid black;
    padding:1em;
    box-shadow: 0 1em 5em 1em rgb(216, 210, 210);
    z-index:1001;
    display:flex;
    flex-direction:column;
}
#filter-form-heading-container{
    text-align:center;
}
#type-name-container{
    margin-top:3em;
    margin-bottom:2em;
}
#type-color-container{
    margin-bottom:8em;
}
#filter-form-buttons{
    text-align: center;
}
#example{
    font-style: italic;
    color:grey;
}
#type-color{
    width:15%;
    height:3em;
    margin:0.5em;
}
#type-name{
    width:50%;
    height:3em;
    margin:0.5em;
    font-size:0.8em; 
}
#type-name-label,#type-color-label{
    font-size:1.2em;
}
#cancel-filter-form{
    background:rgb(214, 76, 76);
    width:8em;
    height:3em;
}
#add-type-btn{
    background:rgb(85, 233, 85);
    width:8em;
    height:3em;
}
.outfit-type{
    border:1px solid black;
    height:2em;
    width:10em;
    min-width:10em;
    margin:1em;
    text-align: center;
    line-height: 2em;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.outfit-type.selected{
    border: 2px solid aqua;
}
#add-outfit-form-container{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
}
#add-outfit-form{
    background:rgb(255, 251, 251);
    width:40em;
    height:45em;
    border:0.5em solid black;
    padding:1.5em;
    box-shadow: 0 1em 5em 1em rgb(216, 210, 210);
    z-index:1001;
    display:flex;
    flex-direction:column;
    overflow-y:auto;
}
#outfit-preview-container{
    display:flex;
    justify-content: center;
    padding:2em;
}
#outfit-preview-holder{
    background:silver;
    width:300px;
    height:400px;
    overflow:hidden;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#outfit-preview{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
}
#outfit-form-heading-container{
    text-align:center;
    margin-bottom:2em;
}
#outfit-photo-label{
    font-size:24px;
}
#outfit-photo{
    font-size:19px;
    margin-left:10px;
}
#select-tags-header{
    display:flex;
    gap:10px;
}
#select-tags-header p{
    color:gray;
    line-height: 1.5;
    font-size: 20px;
}
#select-tags-container{
    background:grey;
    width:600px;
    min-height:200px;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    column-gap:40px;
    row-gap:40px;
    padding:20px;
    overflow:auto;
}
.outfitType{
    border:1px solid black;
    width:150px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.outfitType.selected{
    border: 2px solid aqua;
}
#outfit-name-container{
    margin-bottom:20px;
    text-align: center;
}
#outfit-name-label{
    font-size:24px;
}
#outfit-name{
    font-size:19px;
    width:350px;
    margin-left:10px;
}
#outfit-form-buttons{
    text-align:center;
    margin:2em;
}
#cancel-outfit-form{
    background:rgb(214, 76, 76);
    width:8em;
    height:3em;
}
#submit-outfit-btn{
    background:rgb(85, 233, 85);
    width:8em;
    height:3em;
}