html,body{
    background:linear-gradient(to bottom, rgba(189, 185, 185, 0.2), rgba(48, 48, 47, 0.4));
    display:flex;
    height:100%;
    width:100%;
    margin:0;
}
.glass{
 background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    border-radius: 25px;  
    border: 1px solid rgba(255, 255, 255, 0.4);

 
    box-shadow:
        inset 2px 2px 6px rgba(255, 255, 255, 0.6), 
        inset -2px -2px 6px rgba(0, 0, 0, 0.2),     
        4px 4px 20px rgba(0, 0, 0, 0.15);  
}
.glass::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(
        145deg,
        rgba(255,255,255,0.3) 0%,
        rgba(255,255,255,0) 60%
    );
    pointer-events: none;
}
#left-container{
    display:flex;
    flex-direction:column;
    flex:2;
    overflow-y: auto;
}
#right-container{
    display:flex;
    flex-direction:column;
    flex:0.5;
    align-items:center;
    background:transparent;
}
#filter-bar{
    height:10vh;
    min-height:10vh;
    display:flex;
    align-items:center;
    overflow-x: auto;
    margin-left:10px;
    margin-right:10px;
    margin-top:1em;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 10px rgba(31, 38, 135, 0.37);
}
#filter-bar::-webkit-scrollbar {
    display: none;
}
#filter-btn-container{
    display:flex;
    justify-content: flex-end;
}
#add-filter-btn{
    color:#4A2E1E;
    height:3vh; 
    width:7vw;
    text-align:center;
    font-weight:bold;
    margin-right:20px;
    margin-left:10px;
    margin-top:10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 10px rgba(31, 38, 135, 0.37);
}
#remove-filter-btn{
    color:#4A2E1E;
    height:3vh; 
    width:7vw;
    text-align:center;
    font-weight:bold;
    margin-top:10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 10px rgba(31, 38, 135, 0.37);
}
#outfits-container{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:3rem;
    margin-top:40px;
    margin-bottom:20px;
    height:100%;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    justify-content:center;
    overflow-y:auto;
    padding-top:50px; 
    padding-bottom:50px;
}
#outfits-container::-webkit-scrollbar {
    display: none; 
}
#outfits-container.deleteMode{
    background: rgba(255, 99, 99, 0.2); /* light red tint */
    backdrop-filter: blur(8px); /* keep glass effect if using glassmorphism */
    border: 2px solid rgba(222, 110, 110, 0.4); /* subtle red border */
    transition: background 1s ease;
}
.outfitHolder{
    position:relative;
    border:1px solid black;
    text-align:center;
    height:300px;
    width:250px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 10px rgba(31, 38, 135, 0.37);
}
.outfitHolder.deleteOutfit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 99, 99, 0.25); /* light pinkish-red tint */
    pointer-events: none; /* so clicks pass through */
    z-index:1000;
    border-radius: 20px;
}
.outfitImage{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 10px rgba(31, 38, 135, 0.37);
}
#logo-container{
    border:1px solid black;
    height:30vh;
    width:17vw;
    text-align:center;
    margin-top:1.5em;
    margin-bottom:5em;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 10px rgba(31, 38, 135, 0.37);
}
#logo{
    width:100%;
    height:100%;
    object-fit: cover;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 10px rgba(31, 38, 135, 0.37);
}
#add-outfit-btn{
    color:#4A2E1E;
    height:5vh;
    width:10vw;
    margin-bottom:3em;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 10px rgba(31, 38, 135, 0.37);
    font-weight: bold;
}
#delete-outfit-btn{
    color:#4A2E1E;
    height:5vh;
    width:10vw;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 10px rgba(31, 38, 135, 0.37);
    font-weight:bold;
}
.hidden{
    display:none;
}
#modal-backdrop{
    top:0;
    left:0;
    position:fixed;
    height:100%;
    width:100%;
    background:rgb(0,0,0,0.5);
    z-index:1000;
}
#add-filter-form-container{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
}
.modal-active{
    display:flex;
    justify-content:center;
    align-items:center;
}
#add-filter-form{
    background:rgb(255, 251, 251);
    width:30em;
    height:30em;
    border:0.5em solid black;
    padding:1em;
    box-shadow: 0 1em 5em 1em rgb(216, 210, 210);
    z-index:1001;
    display:flex;
    flex-direction:column;
}
#filter-form-heading-container{
    text-align:center;
}
#type-name-container{
    margin-top:3em;
    margin-bottom:2em;
}
#type-color-container{
    margin-bottom:8em;
}
#filter-form-buttons{
    text-align: center;
}
#example{
    font-style: italic;
    color:grey;
}
#type-color{
    width:15%;
    height:3em;
    margin:0.5em;
}
#type-name{
    width:50%;
    height:3em;
    margin:0.5em;
    font-size:0.8em; 
}
#type-name-label,#type-color-label{
    font-size:1.2em;
}
#cancel-filter-form{
    background:rgb(214, 76, 76);
    width:8em;
    height:3em;
}
#add-type-btn{
    background:rgb(85, 233, 85);
    width:8em;
    height:3em;
}
.outfit-type{
    border:1px solid black;
    height:2em;
    width:10em;
    min-width:10em;
    margin:1em;
    text-align: center;
    line-height: 2em;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 10px rgba(31, 38, 135, 0.37);
}
.outfit-type.selected{
    border: 1px solid aqua;
}
#add-outfit-form-container{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
}
#add-outfit-form{
    background:rgb(255, 251, 251);
    width:40em;
    height:45em;
    border:0.5em solid black;
    padding:1.5em;
    box-shadow: 0 1em 5em 1em rgb(216, 210, 210);
    z-index:1001;
    display:flex;
    flex-direction:column;
    overflow-y:auto;
}
#outfit-preview-container{
    display:flex;
    justify-content: center;
    padding:2em;
}
#outfit-preview-holder{
    background:silver;
    width:300px;
    height:400px;
    overflow:hidden;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#outfit-preview{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
}
#outfit-form-heading-container{
    text-align:center;
    margin-bottom:2em;
}
#outfit-photo-label{
    font-size:24px;
}
#outfit-photo{
    font-size:19px;
    margin-left:10px;
}
#select-tags-header{
    display:flex;
    gap:10px;
}
#select-tags-header p{
    color:gray;
    line-height: 1.5;
    font-size: 20px;
}
#select-tags-container{
    background:grey;
    width:600px;
    min-height:200px;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    column-gap:50px;
    row-gap:40px;
    padding:20px;
    overflow:auto;
}
.outfitType{
    border:1px solid black;
    width:150px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.outfitType.selected{
    border: 2px solid aqua;
}
#outfit-name-container{
    margin-bottom:20px;
    text-align: center;
}
#outfit-name-label{
    font-size:24px;
}
#outfit-name{
    font-size:19px;
    width:350px;
    margin-left:10px;
}
#outfit-form-buttons{
    text-align:center;
    margin:2em;
}
#cancel-outfit-form{
    background:rgb(214, 76, 76);
    width:8em;
    height:3em;
}
#submit-outfit-btn{
    background:rgb(85, 233, 85);
    width:8em;
    height:3em;
}
#filter-bar.deleteSelection{
    background: rgba(255, 99, 99, 0.2); /* light red tint */
    backdrop-filter: blur(8px); /* keep glass effect if using glassmorphism */
    border: 2px solid rgba(222, 110, 110, 0.4); /* subtle red border */
    transition: background 1s ease;
}
.outfit-type.delete{
    border:2px solid rgb(224, 98, 98);
}